html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}